*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* Shaerd style */
.font-open-sans{
    
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
  

}
/*main Style*/
header{
    background-color: #FFF8F3;
    padding-top: 50px;
}
nav{
    width: 71%;
    max-width: 1140px;
    margin: 0px auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo h2{
    font-size: 45px;
    font-weight: 900;
}
.color-orange{
    color: #FD6E0A;
}
.menu{
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
}
nav .menu a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
    
}
.btn{
    height: 65px;
    width: 150px;
    background-color: #FD6E0A;
    border: none;
    padding:18.28px 35px 19.3px 36px;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
}